<template>
  <v-container
    grid-list-xs
  >
    <v-layout
      row
      wrap
    >

      <v-flex
        xs12
        pb-0
        fade-in
      >
        <Search />
      </v-flex>

      <v-flex
        v-if="loading"
        id="loadingOverlay"
        :gif="gif"
      >
        <v-flex>
          <v-img
            id="loadingIcon"
            :src="gif"
          />
        </v-flex>
      </v-flex>

      <v-flex
        v-else
        xs12
      >
        <v-flex
          xs12
          fade-in
        >
          <Item
            v-if="!errored && zStatusCode == 0 && zResults.length === 1 && zResults[0]"
          />
        </v-flex>

        <v-flex
          v-if="zResults.length > 1"
        >
          <v-flex class="header2">Multiple results - which one do you want to see?</v-flex>
          <ItemsList
            :overview-only="true"
            :z-comps="zResults"
          />
        </v-flex>

        <v-flex
          v-if="errored || zStatusCode !== 0"
          my-2
        >
          <Error />
        </v-flex>

        <v-flex
          v-else-if="zComps && zComps.length > 0"
          my-5
          xs12
        >
          <v-flex
            px-3
          >
            <v-flex
              header1
            >Browse nearby homes</v-flex>
          </v-flex>

          <ItemsList
            :z-comps="zComps"
          />
        </v-flex>

      </v-flex>

    </v-layout>

  </v-container>
</template>

<script>

import { mapGetters } from 'vuex';
import { mapMutations } from 'vuex';

import Search from '../components/Search';
import Item from '../components/Item';
import Error from '../components/Error';
import ItemsList from '../components/ItemsList';

export default {
  components: {
    Item,
    Search,
    Error,
    ItemsList,
  },

  computed: {
    ...mapGetters(['zComps', 'inputQuery', 'zDataValid', 'zData', 'zDetailsValid', 'zDetails', 'attomAssessmentValid', 'zResults', 'loading', 'salesData', 'zStatusCode', 'errored', 'zpid', 'showComps']),

    gif() {
      return require('../assets/loadingIcon.gif')
    },
  },
};

</script>
