<template>
  <div class="text-xs-center">
    <v-icon color="black">error_outline</v-icon>
    <span
      v-if="!zStatusCode || statusCodes[zStatusCode] == undefined"
    >
      Sorry! Something went wrong. Try again later?

    </span>
    <span v-else>
      {{ statusCodes[zStatusCode] }}
    </span>
  </div>
</template>
<script>

import { mapGetters } from 'vuex';
import statusCodes from '../common/zillowStatusCodesFriendly';

export default {
  data: () => ({
    statusCodes: statusCodes
  }),
  computed: {
    ...mapGetters(['zStatusCode']),
  },
};
</script>
