<template>
  <div>
    <trend
      :data="data"
      :gradient="gradients[6]"
      auto-draw
      smooth
      stroke-width="4"
    />
  </div>
</template>
<script>
import Trend from 'vuetrend';

export default {
  components: {
    Trend
  },
  data: () => ({
    width: 12,
    radius: 10,
    padding: 8,
    gradients: [
      ['#222'],
      ['#42b3f4'],
      ['red', 'orange', 'yellow'],
      ['purple', 'violet'],
      ['#00c6ff', '#F0F', '#FF0'],
      ['#f72047', '#ffd200', '#1feaea'],
      ['#9fd9db','#4f888a','#69a2a4'],
      ['#195658','#65aeb2','#b8ffff']
    ],
  }),
  computed: {
    data() {
      return this.$store.state.attomSalesHistory.saleHistory.map(obj => obj.amount.saleAmt);
    },
  },
};
</script>
