<template>
  <div id="items-list-cont">
    <v-layout
      row
      wrap
      fade-in
    >
      <v-flex
        v-for="(item, key) in zComps"
        :key="key"
        sm12
        md6
        pa-3
        @click="itemSelected(item)"
      >
        <v-container
          column
          my-card
          clickable-card
          left-border
          my-3
          mx-0
        >
          <v-flex>
            <v-flex
              col-center
              header2
              text-capitalize
            >{{ item.address.street }}, {{ item.address.city.toLocaleLowerCase() }} {{ item.address.state }} {{ item.address.zipcode }} </v-flex>
            <v-flex
              v-if="!overviewOnly"
              justify-center
              row
              dark-grey--text
            >
              <v-icon color="dark-grey">mdi-hotel</v-icon>
              <div>{{ item.bedrooms }} beds</div>
              <v-icon color="dark-grey">mdi-shower</v-icon>
              <div>{{ item.bathrooms }} baths</div>
              <v-icon color="dark-grey">mdi-shoe-print</v-icon>
              <div>{{ item.finishedSqFt }} sqft</div>
            </v-flex>
          </v-flex>

          <v-flex
            column
            align-end
          >
            <div>{{ formatCurrency(item.zestimate.amount.__text, item.zestimate.amount._currency) }}</div>
            <div class="caption">estimated value</div>
          </v-flex>

          <v-divider />

          <v-layout
            row
            justify-center
          >
            <v-flex
              column
              justify-center
            >
              <div class="subheader">{{ formatCurrency(item.zestimate.valuationRange.low.__text, item.zestimate.valuationRange.low._currency) }} - {{ formatCurrency(item.zestimate.valuationRange.high.__text, item.zestimate.valuationRange.high._currency) }}</div>
              <div class="caption">Valuation range</div>
            </v-flex>
            <v-flex
              column
              justify-center
              align-end
            >
              <div :class="getColorClass(item.zestimate.valueChange.__text)">
                {{ item.zestimate.valueChange.__text ? formatCurrency(item.zestimate.valueChange.__text, item.zestimate.valueChange._currency) : '-' }}
              </div>
              <div class="caption text-align-end">change in last {{ item.zestimate.valueChange._duration }} days</div>
            </v-flex>

          </v-layout>

          <v-divider />

          <v-layout
            v-if="!overviewOnly"
            row
            justify-space-between
          >
            <v-flex
              column
              justify-center
            >
              <div class="content">{{ formatCurrency(item.lastSoldPrice.__text, item.lastSoldPrice._currency) }}</div>
              <div class="caption">Last sold price</div>
            </v-flex>
            <v-flex
              column
              justify-center
              align-end
            >
              <div class="content">{{ item.lastSoldDate ? item.lastSoldDate : '-' }}</div>
              <div class="caption">Last sold date</div>
            </v-flex>
          </v-layout>

          <v-divider />

          <v-flex
            my-2
            column
            caption
            justify-end
            text-align-end
          >Last updated {{ item.zestimate['last-updated'] }}</v-flex>

        </v-container>
      </v-flex>
    </v-layout>

  </div>
</template>
<script>

import { mapGetters } from 'vuex';

export default {
  components: {
  },
  props: {
    zComps: {
      type: Array,
      default: () => []
    },
    overviewOnly: Boolean,
  },
  data: () => ({
  }),
  computed: {
    ...mapGetters(['zpid', 'zStatusCode']),
  },
  mounted() {
  },
  methods: {
    getColorClass(changeAmount) {
      if (!changeAmount) return;
      if (changeAmount.charAt(0) === '-') return 'red--text text--darken-3';
      return 'green--text text--darken-3';
    },
    formatCurrency (str, curr) {
      if (!str) return '-';
      if (!curr) var curr = 'USD';
      var result = new Intl.NumberFormat('en', { style: 'currency', currency: curr}).format((parseInt(str, 10)))
      if (result.indexOf('.' > -1)) {
        result = result.slice(0, result.indexOf('.'))
      }
      return result;
    },
    itemSelected (item) {
      this.$store.dispatch('resetState');
      // this.$store.dispatch('setZpid', item.zpid);
      if (this.overviewOnly) {
        this.$store.dispatch('getSearchResult', {
          address1: item.address.street,
          address2: item.address.city + ' ' + item.address.zipcode,
        });
      } else {
        this.$store.dispatch('setZData', [item]);
      }
      // this.$store.dispatch('setZResults', item);
      this.$store.dispatch('getPropertyDetails', item.zpid);
      this.$store.dispatch('getAttomAssessment', {
        address1: item.address.street,
        address2: item.address.city + ' ' + item.address.zipcode,
      });

    },
  },
};

</script>
