<template>
  <v-container
    py-0
    grid-list-xl
    text-sm-center
    text-md-center
  >
    <v-layout
      row
      wrap
    >
      <v-flex
        xs12
        md12
        pt-0
      >
        <div class="header1">Property overview
        </div>
      </v-flex>
      <v-flex
        xs12
        md6
        order-xs1
        order-md1
      >
        <v-flex my-card>
          <v-carousel
            id="carousel"
            hide-delimiters
            height="300"
            :hide-controls="onlyOneImage"
          >
            <v-carousel-item
              v-for="(url, key) in getImages()"
              :key="key"
              :src="url"
              interval="20000"
            />
          </v-carousel>
          <!-- <v-flex v-else>
            <v-img :src="defaultImg" />
          </v-flex> -->
          <v-flex
            py-3
            col-center
          >
            <div class="header2">{{ item.address.street }}</div>
            <div class="text-capitalize">{{ item.address.city.toLocaleLowerCase() }}, {{ item.address.state }} {{ item.address.zipcode }} </div>
            <v-flex
              v-if="attomAssessment.assessment && details.editedFacts"
              row
              justify-center
              align-center
              pa-0
              ma-0
            >
              <v-icon>mdi-hotel</v-icon>
              <div>{{ details.editedFacts.bedrooms }} beds</div>
              <v-icon>mdi-shower</v-icon>
              <div>{{ details.editedFacts.bathrooms }} baths</div>
              <v-icon>mdi-shoe-print</v-icon>
              <div>{{ details.editedFacts.finishedSqFt }} sqft </div>
            </v-flex>
            <div class="text-capitalize">{{ item.localRealEstate.region._name }} {{ item.localRealEstate.region._type }}</div>
          </v-flex>
        </v-flex>

      </v-flex>

      <v-flex
        xs7
        md4
        order-md3
        order-xs2
        pa-0
      >
        <v-layout
          column
          ma-0
          px-0
          fill-height
        >
          <v-flex>
            <v-flex
              my-card
              col-center
              right-border
            >
              <v-icon
                x-large
                color="accent"
              >mdi-home-currency-usd</v-icon>
              <div>Property value estimate</div>
              <div class="header2 rounded-header my-1">{{ formatCurrency(item.zestimate.amount.__text, item.zestimate.amount._currency) }}</div>
              <div class="caption pt-1">Last updated {{ item.zestimate['last-updated'] }}</div>
            </v-flex>
          </v-flex>

          <v-flex>
            <v-flex
              my-card
              col-center
              right-border
            >
              <v-icon
                x-large
                color="accent"
              >mdi-access-point</v-icon>
              <div class="header2 rounded-header my-1">{{ formatCurrency(item.zestimate.valuationRange.low.__text, item.zestimate.valuationRange.low._currency) }} - {{ formatCurrency(item.zestimate.valuationRange.high.__text, item.zestimate.valuationRange.high._currency) }}</div>
              <div>Valuation range</div>
              <div class="caption pt-1">Last updated {{ item.zestimate['last-updated'] }}</div>
            </v-flex>
          </v-flex>

          <v-flex v-if="salesHistory && salesHistory.length > 1">
            <v-flex
              my-card
              right-border
            >
              <v-flex>Sale history trend
              </v-flex>
              <Graph />
            </v-flex>
          </v-flex>
        </v-layout>
      </v-flex>

      <v-flex
        v-if="salesHistory && salesHistory.length > 0"
        xs12
        md12
        order-md4
        order-xs4
      >
        <Timeline
          :sales-history="salesHistory"
        />
      </v-flex>

      <v-flex
        v-if="attomAssessment.assessment || zDetails.editedFacts"
        xs5
        md2
        pa-0
        order-md2
        order-xs3
      >
        <Tiles />
      </v-flex>

    </v-layout>
  </v-container>
</template>

<script>
import Graph from '../components/Graph';
import Timeline from '../components/Timeline';
import Tiles from '../components/Tiles';

import { mapGetters } from 'vuex';

export default {
  components: {
    Tiles,
    Graph,
    Timeline
  },
  props: {

  },
  data: () => ({
    onlyOneImage: false
  }),
  computed: {
    ...mapGetters(['salesData', 'zpid', 'attomAssessment', 'zDetails']),

    item() {
      return this.$store.state.zResults[0];
    },

    details() {
      return this.$store.state.zDetails;
    },

    salesHistory() {
      var hist = this.$store.state.attomSalesHistory;
      if (hist.saleHistory) {
        return hist.saleHistory.reverse();
      }
      return [];
    },
  },

  methods: {
    getImages() {
      if (this.details.images && this.details.images.image && this.details.images.image.url && this.details.images.image.url.length > 0) {
        let urls = this.details.images.image.url;
        if (typeof urls === 'string') {
          this.onlyOneImage = true;
          return [urls]
        } else {
          this.onlyOneImage = false;
          return urls;
        }
      }
      this.onlyOneImage = true;
      return [require('../assets/house-3.png')];
    },

    formatCurrency (str, curr) {
      if (!str) return '-';
      if (!curr) var curr = 'USD';
      var result = new Intl.NumberFormat('en', { style: 'currency', currency: curr}).format((parseInt(str, 10)))
      if (result.indexOf('.' > -1)) {
        result = result.slice(0, result.indexOf('.'))
      }
      return result;
    },
  },

};
</script>
