<template>
  <div id="search">
    <v-flex header3>How much is this property worth?</v-flex>
    <div class="input-cont">
      <VuetifyGoogleAutocomplete
        id="inputQuery"
        required
        placeholder="Enter address"
        types="address"
        @placechanged="placeChanged"
      />
    </div>
  </div>
</template>

<script>

import VuetifyGoogleAutocomplete from 'vuetify-google-autocomplete';
import { mapGetters } from 'vuex';

export default {
  components: {
    VuetifyGoogleAutocomplete,
  },
  data: () => ({
    inputQuery: '',
    addressData: {
      street: '',
      zip: '',
      fullData: {
      },
    },
  }),

  methods: {
    placeChanged (addressData, placeResultData) {
      let query = (placeResultData)
       ? query = placeResultData.formatted_address
       : query = document.querySelector('#inputQuery').value;
       if (!addressData) return;
       this.$store.dispatch('resetState');
       var street = addressData.name;
       var zip = addressData.postal_code;
      this.$store.dispatch('inputQuery', {
        street: street,
        zip: zip
      });
      this.$store.dispatch('getAttomSaleHistory', {
        address1: street,
        address2: zip,
       });
       this.$store.dispatch('getAttomAssessment', {
         address1: street,
         address2: zip,
        });
    },
  },
};

</script>
