<template>
  <v-layout
    text-xs-center
    column
    ma-0
    px-0
    fill-height
    big-text
  >
    <v-flex basis-zero>
      <v-flex
        px-0
        my-card
        triangle-corner
        column
        justify-center
      >
        <div v-if="assessment.assessment">
          <div class="header2">{{ formatCurrency(assessment.assessment.assessed.assdimprvalue) }}</div>
          <div class="label">Assessed improve value</div>
        </div>
        <div v-else>
          <div class="header2">{{ zDetails.editedFacts.bedrooms }}</div>
          <div class="label">total bedrooms</div>
        </div>
      </v-flex>
    </v-flex>
    <v-flex basis-zero>
      <v-flex
        px-0
        my-card
        column
        justify-center
        triangle-corner
        lighter
      >
        <div v-if="assessment.assessment">
          <div class="header2">{{ formatCurrency(assessment.assessment.assessed.assdlandvalue) }}</div>
          <div class="label">Assessed land value</div>
        </div>
        <div v-else>
          <div class="header2">{{ zDetails.editedFacts.bathrooms }}</div>
          <div class="label">total bathrooms</div>
        </div>
      </v-flex>
    </v-flex>
    <v-flex basis-zero>
      <v-flex
        px-0
        my-card
        triangle-corner
        lightest
        column
        justify-center
      >
        <div v-if="assessment.assessment">
          <div class="header2">{{ formatCurrency(assessment.assessment.assessed.assdttlvalue) }}</div>
          <div class="label">Assessed total value</div>
        </div>
        <div v-else>
          <div class="header2">{{ zDetails.editedFacts.finishedSqFt }}</div>
          <div class="label">finished square feet</div>
        </div>
      </v-flex>
    </v-flex>
  </v-layout>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
  computed: {
    ...mapGetters(['zpid', 'zDetails']),

    salesHistory() {
      return this.$store.state.attomSalesHistory.saleHistory;
    },
    assessment() {
      return this.$store.state.attomAssessment;
    },
  },
  methods: {
    formatCurrency (str, curr) {
      if (!str) return '-';
      if (!curr) var curr = 'USD';
      var result = new Intl.NumberFormat('en', { style: 'currency', currency: curr}).format((parseInt(str, 10)))
      if (result.indexOf('.' > -1)) {
        result = result.slice(0, result.indexOf('.'))
      }
      return result;
    }
  },
};
</script>
