<template>
  <v-expansion-panel class="my-card">
    <v-expansion-panel-content
      expand-icon="more_vert"
    >
      <h3
        slot="header"
        class="header2"
      >Sale history details</h3>
      <v-timeline
        v-if="salesHistory && salesHistory.length > 0"
        dense
      >
        <v-timeline-item
          v-for="(sale, key) in salesHistory"
          :key="sale.sequence"
          :sale="sale"
          small
        >
          <v-layout
            column
          >
            <v-flex
              row
              justify-space-between
            >
              <div class="rounded-header">{{ formatCurrency(sale.amount.saleAmt) }} {{ sale.amount.saleTransType }}</div>
              <div class="accent--text pr-3">{{ formatDate(sale.saleTransDate) }}</div>
            </v-flex>

            <v-flex
              v-if="sale.mortgage && sale.mortgage.FirstConcurrent && sale.mortgage.FirstConcurrent.amount"
              loan-info
              py-0
            >
              <div class="header2 bold">Loan information</div>
              <ul>
                <div
                  v-for="(mortgage, mortgageNum, i) in sale.mortgage"
                  :key="i"
                  :mortgage="mortgage"
                >
                  <li v-if="mortgage.amount">
                    <span
                      mx-0
                    >{{ mortgageNum.replace(/([A-Z]+)*([A-Z][a-z])/g, "$1 $2") }}: </span>
                    <span>{{ formatCurrency(mortgage.amount) }}</span>
                    <span v-if="mortgage.dueDate"> due on {{ formatDate(mortgage.dueDate) }}</span>
                    <span v-if="mortgage.lenderLastName"> to <span class="text-capitalize">{{ mortgage.lenderLastName.toLocaleLowerCase() }}</span></span>
                  </li>
                </div>

              </ul>
            </v-flex>

            <v-layout
              row
              wrap
              py-2
              sm12
              md12
              align-center
            >
              <v-flex
                sm6
                md4
                row
                py-0
              >
                <v-icon medium>face</v-icon>
                <v-flex column>
                  <div class="text-capitalize">{{ sale.buyerName ? sale.buyerName.toLocaleLowerCase() : 'Unknown' }}</div>
                  <div class="caption">Buyer</div>
                </v-flex>
              </v-flex>
              <v-flex
                sm6
                md4
                py-0
                row
              >
                <v-icon medium>account_circle</v-icon>
                <v-flex column>

                  <div class="text-capitalize">{{ sale.sellerName ? sale.sellerName.toLocaleLowerCase() : "Unknown" }}</div>
                  <div class="caption">Seller</div>
                </v-flex>
              </v-flex>

              <v-flex
                sm6
                md4
                row
                py-0
              >
                <v-icon medium>account_balance</v-icon>
                <v-flex column>
                  <div class="text-capitalize">{{ sale.mortgage.FirstConcurrent.lenderLastName ? sale.mortgage.FirstConcurrent.lenderLastName.toLocaleLowerCase() : 'Unknown' }}</div>
                  <div class="caption">Lender</div>
                </v-flex>
              </v-flex>

            </v-layout>

          </v-layout>
          <v-divider
            v-if="key < salesHistory.length - 1"
          />

        </v-timeline-item>
      </v-timeline>
    </v-expansion-panel-content>

  </v-expansion-panel>
</template>
<script>

import { mapGetters } from 'vuex';

export default {
  props: {
    salesHistory: {
      type: Array,
      default: ()=>[]
    }
  },

  computed: {
    ...mapGetters(['salesData', 'zpid', 'attomAssessment', 'zDetails']),
  },

  methods: {
    formatCurrency (str, curr) {
      if (!str) return '';
      if (!curr) var curr = 'USD';
      var result = new Intl.NumberFormat('en', { style: 'currency', currency: curr}).format((parseInt(str, 10)))
      if (result.indexOf('.' > -1)) {
        result = result.slice(0, result.indexOf('.'))
      }
      return result;
    },

    formatDate(str) {
      if (!str) return '';
      var parts = str.split('-');
      return `${parts[1]}/${parts[2]}/${parts[0]}`;
    },
  },
};

</script>
