.v-toolbar:before {
  content: "";
  width: 100vw;
  max-width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  pointer-events: none;
  box-shadow: 0 0 80px 100px rgba(25, 86, 88,.2), 0 0 40px 40px rgba(25, 86, 88,.2);
}

body {
  font-weight: 350;
  font-family: 'Open sans', sans-serif;
}

.v-icon {
  padding: 0 4px;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
}

#loadingOverlay {
  display: flex;
  background-color: rgba(251,252,244,.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  z-index: 10;
}

#loadingIcon {
  width: 200px;
  margin: auto;
  position: relative;
}
.header1 {
  text-align: left;
  font-size: 180%;
  margin-left: 0;
  padding-left: 0;
  font-weight: 400;
  color: var(--v-accent-base);
}

.header2 {
  color: var(--v-primary-lighten1);
  font-size: 115%;
  font-weight: 400;
}
.header3 {
  color: var(--v-primary-lighten2);
  font-size: 110%;
}
.header4 {
  font-size: 110%;
}

.rounded-header {
  background: #eeeff1;
  font-size: 110%;
  border-radius: 30px;
  padding: .75rem 1.75rem;
  width: fit-content;
}

.my-card {
  height: 100%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 20px 80px rgba(0,0,0,.1), 0 5px 20px rgba(0,0,0,.05);
  border-radius: 8px;
  transform: translateY(2px);
  transition: .25s cubic-bezier(.215,.61,.355,1);
  overflow: hidden;
}

.my-card:hover {
  transform: translateY(0px);
  box-shadow: 0 20px 80px rgba(0,0,0,.15), 0 5px 20px rgba(0,0,0,.05);
  transition-property: transform,box-shadow;
}

.clickable-card:hover {
  cursor: pointer;
  background: rgba(222,222,222,.3);
}

.caption {
  font-weight: 300;
}

.label {
  font-size: 75%;
}

.big-text {
  font-size: 140%;
}

.text-align-end {
  text-align: end;
}

.text-align-center {
  text-align: center;
}

.basis-zero {
  flex-basis: 0!important;
}

.carousel {
  margin: 0;
}

.v-carousel {
  width: calc(100% + 24px)!important;
  margin-top: -12px;
  margin-left: -12px;
  box-shadow: none!important;
}

.v-timeline {
  margin-bottom: 10px;
}

.v-expansion-panel__body {
  padding: 0 2rem;
}

.v-input {
  width: 100%!important;
}

.input-cont {
  display: flex;
  align-items: center;
}

input {
  width: 100%;
  color: black;
  padding: 1.2rem!important;
  border: 1px solid #bbb;
  border-radius: 2px;
  font-weight: 300;
  min-height: 100%;
  align-items: center!important;
  justify-content: center;
  font-size: 115%;
}

input:hover {
  border-color: #0e0f17;
  color: #0e0f17;
  transition: 0.3s;
}

ul {
  margin: 0;
  padding: 0;
}

#search {
  padding: 1rem;
  padding-bottom: 1rem;
}

.loan-info {
  padding-left: 2.5rem;
}

.right-border {
  position: relative;
  padding-right: 2rem!important;
}

.left-border {
  position: relative;
  padding-left: 2rem!important;
}

.left-border:before {
  content: '';
  left: -10px;
  position: absolute;
  width: 10px!important;
  height: 100%!important;
  top:0!important;
  border-left: 1.5rem solid var(--v-primary-lighten2);
}

.right-border:before {
  content: '';
  right: -10px;
  position: absolute;
  width: 10px!important;
  height: 100%!important;
  top:0!important;
  border-right: 1.75rem solid var(--v-primary-lighten2);
}

.triangle-corner:before {
  content: '';
  top: -4px;
  right: -17px;
  position: absolute;
  width: 0;
  height: 0;
  border-top: 26px;
  border-top-style: solid;
  border-color: var(--v-primary-base);
  border-left: 26px solid transparent;
  border-right: 26px solid transparent;
  transform: rotate(-135deg);
}

.triangle-corner.lighter:before {
  border-top-color: var(--v-primary-lighten1);
}

.triangle-corner.lightest:before {
  border-top-color: var(--v-primary-lighten2);
}

.triangle-corner {
  overflow: hidden;
}
