<template>
  <v-app>
    <!-- This toolbar will persist across all router views -->
    <v-toolbar
      app
      color="primary"
      dark
    >
      <v-toolbar-title>
        <span class="headline">Certain Lending</span>
        <span
          v-show="$vuetify.breakpoint.smAndUp"
          class="font-weight-light title ml-5"
          v-text="' Take Home Project'"
        />
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        flat
        href="https://gitlab.com/stephfunny/interview-take-home"
        target="_blank"
      >
        <span class="mr-2">Source Code</span>
        <v-icon>open_in_new</v-icon>
      </v-btn>
    </v-toolbar>

    <v-content>
      <router-view />
    </v-content>
  </v-app>
</template>
<style>
@import './assets/styles.css';
</style>
<script>

export default {
  name: 'App',
  data() {
    return {
    };
  },
};

</script>
